<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" media="screen" href="css/bootstrap.css">
        <title>Tarot manager 2013</title>
    </head>
    <body class='{{page}}'>
        {%block content%}
            
        {%endblock%}
    </body
</html>