<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" media="screen" href="../css/bootstrap.css">
        <link rel="stylesheet" media="screen" href="../css/style.css">
        <link rel="stylesheet" media="screen" href="../css/select2.css">
        <script src="../js/select2.js"></script>
        <title>Tarot manager 2013</title>
    </head>
    <body class=''>
        {%block content%}
            
        {%endblock%}
    </body
</html>